# ===========================
# Python & Virtual Environment
# ===========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5
*.keras
*.onnx
*.tflite
*.pb
*.ckpt
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb
*.ipynb-meta

# ===========================
# System / OS
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Logs / Snapshots / Outputs
# ===========================
logs/
snapshots/
results/
__output__/
*.csv
*.txt

# ===========================
# Temporary / Cache
# ===========================
*.tmp
*.bak
*.swp
*.swo
*.old
.cache/
build/
dist/
*.egg-info/
*.spec

# ===========================
# App Specific
# ===========================
notification/__pycache__/
gag/__pycache__/
app/__pycache__/
assets/__pycache__/
